* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.body {
    flex: 1 0 0;
    height: 100%;
    display: flex;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    ;
    height: 500px;
    flex: 1 0 0;

}

.card {
    flex: 1 0 30%;
    background-color: rgb(112, 112, 223);

}

.card img {
    flex: 1 0 0;

    height: 100px;
    width: 100px;
}