@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

@keyframes bgMove {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.project-container {
    background: radial-gradient(circle at 30% 30%,
            rgb(143, 33, 33),
            rgb(29, 85, 149),
            rgb(148, 34, 34));
    background-size: 300% 300%;
    animation: bgMove 12s ease-in-out infinite alternate;
}


.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160vh;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    color: white;

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.header {
    font-size: 44px;
}

.header-info {
    font-size: 16px;
}

.body {
    flex: 1 0 0;
    height: 100%;
    display: flex;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    height: 500px;
    flex: 1 0 0;

}

.card {
    flex: 1 0 30%;
    border: 3px solid rgb(255, 182, 71);
    background-color: rgb(71, 5, 134);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;

}



/* .card:hover {
    scale: 1.05;
    opacity: 1;
    background: #fd5;
    box-shadow:
        inset 10px 10px 20px #ffcb,
        inset -10px -10px 20px #ea18;
    border-radius: 20px;
    transition: 0.7s cubic-bezier(.51, .61, 0, 2.3);
} */


.card img {
    flex: 1 0 0;
    height: 230px;
    width: 230px;
    cursor: pointer;
}

.pokemon-name {
    font-size: 22px;
    cursor: pointer;
    color: white;
    background-color: rgb(199, 81, 42);
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

.card:hover .pokemon-name {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.6s ease-in-out;
}