@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}



.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160vh;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: #EEAECA;
    background: radial-gradient(circle, rgb(248, 98, 163) 0%, rgb(73, 113, 159) 100%);
}

.header-container {
    display: flex;

    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.header {
    font-size: 24px;
}

.header-info {
    font-size: 16px;
}

.body {
    flex: 1 0 0;
    height: 100%;
    display: flex;
}

.card-container {
    display: flex;
    flex-wrap: wrap;

    height: 500px;
    flex: 1 0 0;

}

.card {
    flex: 1 0 30%;
    border: 1px solid black;
    background-color: rgb(91, 47, 131);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;

}

.card img {
    flex: 1 0 0;
    height: 230px;
    width: 230px;
    cursor: pointer;
}

.pokemon-name {
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: rgb(199, 81, 42);
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}